<p>
  <input type="text" name="card[title]" value placeholder="To-do">
  <br>
  <textarea name="card[description]" rows="2" cols="30" placeholder="Comment"></textarea>
  <br>
  <button class="add-card hvr-radial-out">Add</button>
</p>
