<p>
  <input type="text" name="card[title]" value placeholder="To-do">
  <br>
  <input type="text" name="card[description]" value placeholder="Comment">
  <br>
  <button class="add-card hvr-radial-out">Add</button>
</p>
