<label>
  <h3>Title</h3>
  <input type="text" name="card[title]" value="">
  <br>
  <textarea name="card[description]" rows="8" cols="40"></textarea>
  <br>
  <input type="submit" value="Add card">
</label>
