<h1 class="page-title">My Boards</h1>

<% boards.each( function (board) { %>
  <section class="board-item hvr-rectangle-out">
    <a href="#boards/<%= board.id %>">
      <h3 class="board-title"><%= board.escape('title') %></h3>
    </a>
  </section>
<% }) %>
