<h1 class="page-title">
  <%= board.escape('title') %>
</h1>

<ul class="lists">
</ul>

<section class="new-list">
  <a class="new-list-link">+ List</a>
  <section class="new-list-form">

  </section>
</section>
