<form class="new-list-form">
  <label>
    <input type="text" class="list-title" name="list[title]" value placeholder="New List">
    <br>
    <button value="Add" class="add-list hvr-radial-out">Add</button>
  </label>
</form>
