<li class="list-item">
  <h3 class="list-title" style="padding: 0 0 8px;">
    <%= list.escape('title') %>
  </h3>

  <div class="list-delete">
    ✕
  </div>

  <ul class="cards-list">

  </ul>

  <section class="new-card-form">
    <a href="" class="new-card-link">
      <button class="new-card-btn btn hvr-radial-out">
        +
      </button>
    </a>
  </section>
</li>
